


header {
    width: 100%;
    border: 20%;
    padding: 1%;
    background-color: rgb(96, 108, 56);
  }

  footer {
    width: 100%;
    border: 20%;
    padding: 1%;
    background-color: rgb(96, 108, 56);
  }