h1, h2 {
    font-family: "Tangerine", cursive;
  font-weight: 1000;
  font-style: normal;
  }
  
h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
}  

h1 {
    letter-spacing: 5px;
  }

  h2 {
    letter-spacing: 2px;
  }

h1, h2 {
    text-decoration-line: underline;
  text-decoration-style: wavy
}

header {
    width: 100%;
    border: 20%;
    padding: 1%;
    background-color: rgb(250, 205, 7);
  }

  footer {
    width: 100%;
    border: 20%;
    padding: 1%;
    background-color: rgb(2250, 205, 7);
  }

  p {
    line-height: 1.6;
    font-size: 1.1rem;
  }

  .link:hover {
    color: rgb(71, 184, 6);
  }

  body {
    background-color: rgb(253, 251, 224);
    max-width: 100%;
    margin: 1%;
  }